* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.parent {
    width: 100%;
    min-height: 1000px;
    position: relative;
    background-color: white;
    margin: 50px auto;
    transform-style: preserve-3d;
    transform: rotateY(120deg);
    backface-visibility: hidden;
    animation-name: parent;
}

.animate {
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: linear;

}

.front_red, .back_blue {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: white;
    transform-style: preserve-3d;
}

.front_red {
    background-color: red;
    animation-name: front;
    animation-direction: normal;

}

.back_blue {
    background-color: blue;
    animation-name: back;
    animation-direction: reverse;

}

.front_red::before, .back_blue::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;

}

.front_red::before {
    transform: translateZ(1px);
}

.back_blue::before {
    transform: translateZ(-1px);
}

@keyframes parent {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes front {
    from {
        transform: rotateZ(0) translateZ(50px);
    }
    to {
        transform: rotateZ(360deg) translateZ(50px);
    }
}

@keyframes back {
    from {
        transform: rotateZ(0) translateZ(100px);
    }
    to {
        transform: rotateZ(360deg) translateZ(100px);
    }
}